<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
    <meta name="csrf-param" content="authenticity_token" />
<meta name="csrf-token" content="IBARgYpsnTQ8cWtgyuuTr/6cD8wLOL5wOdN9Tj3McOmaNg9aJtYpTeutCotd6B79MgSN2/YsbxWalPRf/R8IAw==" />

    <link rel="stylesheet" media="all" href="/assets/application-d12397cbc3a266ce5a99f7b588223090c55ca04a439953bb5f9304395de93fc3.css" data-turbolinks-track="reload" />
    <script src="/assets/application-4e370d3723b6f204426a9414077d365ea07814cce5619ae24fb7e581988f19ed.js" data-turbolinks-track="reload"></script>
  </head>

  <body>
    <p id="notice"></p>
    <p><strong>Title:</strong>
      <%= @book.title %>
    </p>
    <p><strong>Body:</strong>
      <%= @book.body %>
    </p>

    <a class="edit_201012" href="/books/201012/edit">Edit</a> |
    <a class="back" href="/books">Back</a>
  </body>
</html>
