<!DOCTYPE html>
<html>
  <head>
    <title>WebCampBackendNew</title>
  </head>

  <body>
    <p id="notice"></p>
    <p><strong>Title:</strong>
      <%= @book.title %>
    </p>
    <p><strong>Body:</strong>
      <%= @book.body %>
    </p>
    <!-- 編集部分 -->
    <%= link_to "edit", edit_book_path(@book) %>
    <a class="back" href="/books">Back</a>
  </body>
</html>
